body {
    background-color: #FFA500;
    background-repeat: no-repeat;
    background-size: auto;
    font-family:'Verdana';
}
.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    text-align: center;
    background-color: #93E1D8;
    box-shadow: 10px 10px #96a9a7;
    color: white;
    margin: 0 auto;
    position:relative;
    text-align: center;
}
.teamgrid {
    margin: 0 auto;
    text-align: center;
    display: flex;
    
}

.team {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 30px;
    margin: 40px;
    opacity: 0.88;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    z-index: 1;
    position: relative;
}

.logo {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2; /*  logo on top of the teams */
    width: 270px; 
  }
  
h1 {
    font-size: 150px;
    padding: 0;
    margin: 10px 0;
    font-family: 'Timessquare';
}

h2 {
    font-size: 100px;
    font-family:'Timessquare';
    margin: 0;
    padding: 0;
}
.header {
    font-size: 75px;
    text-align: center;
    color: #2E3089;
    font-family: 'Ozone';
}

.buttons {
    margin: 7px;
    
  }
button {
    padding: 15px;
    margin: 7px;
    font-size: 15px;
    font-family:  Roboto, sans-serif;
    border-radius: 7px;
    background-color: #2E3089;
    border-color:#2E3089 ;
    color: white;
  }

.other {
    text-align: center;
    padding-top: 1.5rem;
}

input {
    font-size:15px;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    border-color: #2E3089;
}

@font-face {
    font-family: 'Ozone';
    src: url('./assets/ozone-font/Ozone-xRRO.ttf') format('truetype');
}

@font-face {
    font-family: 'Timessquare';
    src: url('./assets/times-square-font/ts.ttf') format('truetype');
}